
.matching-game-container1 {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: flex-start;
  border-color: #000000;
  border-style: dashed;
  border-width: 2px;
  justify-content: flex-start;
  background-color: #000000;
}

.matching-game-text {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.matching-game-text01 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.matching-game-text02 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.matching-game-text03 {
  left: 803px;
  bottom: 8px;
  position: absolute;
}
.matching-game-navlink {
  top: 24px;
  left: 318px;
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: 20px;
  font-style: normal;
  font-family: Verdana;
  font-weight: 700;
  text-decoration: none;
}
.matching-game-text04 {
  top: 20px;
  left: 30px;
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: 28px;
  font-style: normal;
  font-family: Verdana;
  font-weight: 700;
}
.matching-game-image {
  top: 8px;
  left: 213px;
  width: 54px;
  height: 59px;
  position: absolute;
  object-fit: cover;
}
.matching-game-navlink1 {
  top: 24px;
  left: 586px;
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: 20px;
  font-style: normal;
  font-family: Verdana;
  font-weight: 700;
  text-decoration: none;
}
.matching-game-navlink2 {
  top: 24px;
  left: 711px;
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: 20px;
  font-style: normal;
  font-family: Verdana;
  font-weight: 700;
  text-decoration: none;
}
.matching-game-navlink3 {
  top: 24px;
  left: 854px;
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: 20px;
  font-style: normal;
  font-family: Verdana;
  font-weight: 700;
  text-decoration: none;
}
.matching-game-button {
  top: 18px;
  right: 149px;
  display: flex;
  position: absolute;
  font-style: normal;
  font-family: Verdana;
  font-weight: 400;
}
.matching-game-button1 {
  top: 18px;
  right: 24px;
  position: absolute;
  font-style: normal;
  font-family: Verdana;
  font-weight: 400;
}
.matching-game-navlink4 {
  top: 24px;
  left: 445px;
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: 20px;
  font-style: normal;
  font-family: Verdana;
  font-weight: 700;
  text-decoration: none;
}
@media(max-width: 1600px) {
  .matching-game-navlink1 {
    top: 24px;
    left: 543px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-style: normal;
    font-family: Verdana;
    font-weight: 700;
    text-decoration: none;
  }
  .matching-game-navlink2 {
    top: 24px;
    left: 646px;
  }
  .matching-game-navlink3 {
    top: 24px;
    left: 774px;
  }
  .matching-game-navlink4 {
    top: 24px;
    left: 424px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-style: normal;
    font-family: Verdana;
    font-weight: 700;
    text-decoration: none;
  }
}
@media(max-width: 767px) {
  .matching-game-text03 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .matching-game-text03 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.container {
  max-width: 960px;
  margin: auto;
  margin-top: 120px;
}

body {
  background-image: linear-gradient(90deg, rgba(49, 50, 51, 0.6) 100.00%,rgba(49, 50, 51, 0.6) 100.00%),url("public/playground_assets/wallpapersden.com_olorun-smite_1920x1080-1500w.jpg");
  background-size: cover;
  font-family: Verdana;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

h3 {
  text-align: center;
}

p {
  text-align: center;
  margin-top: 20px;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}

.draggable-list {
  padding: 5px;
}

li {
  list-style: none;
  padding: 10px;
  margin: 5px;
  background-color: #cfd8dc;
  border: 1px solid #b0bec5;
  color: #263238;
  cursor: grab;
}

.over {
  background-color: #90a4ae;
}


table {
  max-width:640px;
  margin: auto;
  margin-top: -100px;
  /* border: 1px solid #b0bec5; */
}

th, td {
  padding: 10px 10px;
}

td {
  border: 1px solid #90a4ae;
}

tr {
  background-color: #cfd8dc;
}

#restartbutton {
  margin: auto;
  cursor: pointer;
  display: block;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  background-color: #607d8b;
  color: #fff;
  margin-top: 50px;
}

#restartbutton:hover {
  background-color: #516a75;
}

#endMessage {
  display: none;
}